*#
**/tags
*.orig
*~
.DS_Store
.powenv
.powrc
.rbenv-vars
.rspec-local
.ruby-gemset
.rbenv-gemsets
.rvmrc
.tags*
.wercker
.zeus.sock
/*.errors.log
/*.rdb
/*.rejected.csv
/.bundle
/.idea
/bin
/errors.log
/log/*
/public/assets
/tmp
\#*#
config/database.yml
vendor/bundle
